* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: none;
    font-family: sans-serif;
}

body {
    background-image: url(img/medico-pexel.jpg);
    background-size: cover;
    background-color: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}


.contenedortodo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.cajatrasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.5);


}
.cajatrasera div{
    margin :100px 40px;
    color: black;
    transition: all 500ms;
}
.cajatrasera div p,
.cajatrasera div button{
    margin-top: 30px;

}
.cajatrasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.cajatrasera button{
    padding: 10px 40px;
    border: 2px solid black;
    background:transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer ;
    color:#161616;
    outline:none;
    transform: all 300ms;
}
.cajatrasera button:hover{
    background: #161616;
    color: white;
}
/*formularios*/
.contenedor_formularioinicio{
    display:flex;
    align-items:center;
    width:100%;
    max-width:380px;
    position:relative;
    top:-185px;
    left:10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

}
.contenedor_formularioinicio form{ 

    width: 100%;
    padding: 80px 20px;
    background: #90ace9;
    position: absolute;
    border-radius: 20px;
}
.contenedor_formularioinicio form h2{
font-size: 30px;
text-align: center;
margin-bottom: 20px;
color: white;
}
.contenedor_formularioinicio form input{
width: 100px;
margin-top: 20px;
padding: 10px;
border:none;
background: white;
font-size: 16px;
outline: none;
}
.contenedor_formularioinicio form button{
    padding:10px 40px;
    margin-top: 40px;
    border:none;
    font-size: 14px;
    background: #46a2fd;
    font-weight: 600;
    color:whi;
    cursor: pointer;
    outline: none;

}
.Formulariologin{
    opacity: 1;
    display: block;
}
.Fomularioregistro{
    display: none;
}
/*responsive*/
@media screen and(max-width: 850px) {
    main{
        margin-top: 50px;

    }
    .cajatrasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .cajatrasera div{
        margin: 0px;
        position: absolute;
    }
    .contenedor_formularioinicio{
        top: -10px;
        left: -5px;
        margin: auto;

    }
    .contenedor_formularioinicio form{
        position: relative;
    }
}
